
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.w-100 {
	width: 100%;
}

body {
	font-size: 14px;
	font-family: 'Roboto';
}
.header_nav .navbar {
	flex-direction: column;
	align-items: flex-start;
	padding: 0;
}


.navbar-collapse .navbar-nav .nav-link {
	text-transform: uppercase;
	color: #5b5150;
	font-size: 16px;
    font-weight: 500;
    font-family: 'Roboto';
	padding: 21.5px 15px 21.5px 18px;
	position: relative;
}

.navbar-collapse .navbar-nav .logo-img >a{
    padding-top: 15px;
    width: 100%;
    padding-right: 20px;
    font-weight: bold;
    font-size: 40px;
    font-family: 'Roboto';
    text-decoration: none;
    color: #5b5150;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link, .navbar-collapse .navbar-nav .nav-link:hover {
	color: #cccccc;
}
/*about*/
.main-content-img {
    position: relative;
    text-align: center;
    padding-top: 10px;
}
.main-content-item {
    position: absolute;
    left: 28%;
    top: 22%;
}
.main-content >p {
    text-align: center;
    font-size: 23px;
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
    color: #2e302f;
    line-height: 1.5em;
}
.main-content1 >p {
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
    color: #2e302f;
    line-height: 1.5em;
}

.footer-top {
    background-color: #e7eeea;
}
.content >a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
    color: #221e1e;
    line-height: 2;
}
.subcribe >a {
    text-decoration: none;
    padding: 12px 68px;
    border: 1px solid black;
    font-size: 16px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    color: #3d3a3a;
}
.subcribe >a:hover {
    background-color: #3d3a3a;
    color: whitesmoke;
}
.footer-bottom {
    text-align: center;
}
.footer-bottom >p{
    padding-top: 20px;
    font-size: 16px;
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
    color: #221e1e;
}

