* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.w-100 {
	width: 100%;
}

body {
	font-size: 14px;
	font-family: 'Roboto';
}
.header_nav .navbar {
	flex-direction: column;
	align-items: flex-start;
	padding: 0;
}


.navbar-collapse .navbar-nav .nav-link {
	text-transform: uppercase;
	color: #5b5150;
	font-size: 16px;
    font-weight: 500;
    font-family: 'Roboto';
	padding: 21.5px 15px 21.5px 18px;
	position: relative;
}

.navbar-collapse .navbar-nav .logo-img >a{
    padding-top: 15px;
    width: 100%;
    padding-right: 20px;
    font-weight: bold;
    font-size: 40px;
    font-family: 'Roboto';
    text-decoration: none;
    color: #5b5150;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link, .navbar-collapse .navbar-nav .nav-link:hover {
	color: #cccccc;
}

/*Index*/
.title {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}
.title >h1 {
    font-size: 18px;
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}
.news {
    position: relative;
}
.news-link {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 14px 15px 20px;
}
.news-link >a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
    color: #221e1e;
    padding-left: 110px;
}
.news-link >a:hover {
    opacity: 0.8;
}
.news-price {
    padding-left: 130px;
    padding-top: 15px;
}
.news-price >a {
    text-decoration: none;
    font-size: 16;
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
    color: #221e1e;
}
.news-item{
    padding-top: 50px;
    text-align: center;
}
.news-item >a {
    text-decoration: none;
    padding: 10px 40px;
    border: 1px solid #010101;
    font-size: 16px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    color: #3d3a3a;
}
.news-item >a:hover {
    background-color: #3d3a3a;
    color: whitesmoke;
}
.footer-top {
    background-color: #e7eeea;
}
.content>a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
    color: #221e1e;
    line-height: 2;
}
.subcribe >a {
    text-decoration: none;
    padding: 12px 68px;
    border: 1px solid black;
    font-size: 16px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    color: #3d3a3a;
}
.subcribe >a:hover {
    background-color: #3d3a3a;
    color: whitesmoke;
}
.footer-bottom {
    text-align: center;
}
.footer-bottom >p{
    padding-top: 20px;
    font-size: 16px;
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
    color: #221e1e;
}


 
 
  
  